body {
    box-sizing: content-box;
}

#parent {
    overflow: hidden;
    display: inline;
    text-align: center;
}

#middle {
   overflow: hidden;

}

#child {
    position: relative;
    left: 100px;
}

#prvi {
    display: block;
    max-width: 400px;
    max-height: 200px;
    height: 400px;
    outline: 1px;
    outline: 1px red solid;
    transition: margin 2s, font-size 2s;
    width: fit-content;
    margin: auto;
}

#prvi:hover {
    font-size: 50px;
    margin: 100px;
    transition: font-size 5s
}

#drugi {
    display: inline-block;

    height: 200px;
    outline: 1px red solid;
}

.container {
    margin: auto;
    width: 200px;
    padding: 10px;
    backdrop-filter: blur(100px);
    border: solid 2px;

    background: blue url("./assets/sun.png") ;

    background-clip: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    opacity: 0.5;

}

@media only screen and (max-width: 800px) {
    .container {
        background: url("./assets/download.jpg");
    }
}


/*.container::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/

.container:hover {
    animation: anim 1s;
    animation-fill-mode: both;
}

@keyframes anim {
    to {
        filter: grayscale(1);
    }
}

.stacking{
    position: absolute;
    width: 200px;
    margin: auto;
}

.stacking:nth-child(1) {
    z-index: auto;
    background-color: green;
}

.stacking:nth-child(2) {
    background-color: red;
    z-index: -1;
}

#nav {
    height: 800px;
    background: url("./assets/sun.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

#nav div:hover {
    color: red;

}

#nav p {
    color: initial;
    transition: 5s;

}

#nav p:hover {

    color: blue;
    border-radius: 50%;
    border-color: black;
    background-color: white;

}

#left-middle {
    display: inline-block;
    position: relative;
    margin-right: -140px;
    background-color: green;
    z-index: 30;
}

#right-middle {
    display: inline-block;
    background-color: gray;
    z-index: 0;
}

#left-child {
    display: inline-block;
    position: relative;
    z-index: -1;
    margin-right: -10px;
    background-color: red;
}

#right-child {
    display: inline-block;
    position: relative;
    z-index: 6;
    background-color: blue;
}

.green {
    line-height: 1;
    border: solid limegreen;
  }

  .red {
    line-height: 2em;
    border: solid red;
  }

  h1 {
    font-size: 30px;
  }

  .box {
    width: 18em;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
  }

  .aspect {
      position: relative;
      height: 0;
      padding-bottom: 20%;
      overflow-y: hidden;
      max-height: 100px;
  }

  .aspect_child {
      position: absolute;
      height: 100%;
      width: 100%;
      outline: solid red 2px;
      top: 0;
      left: 0;
      top: 10px;
  }

  .aspect:hover {
     overflow-y: scroll;
     max-height: 600px
  }

  /** + * {
      margin-top: 10px;
  }*/

  .btn2 {
    background-color: var(--color, blue);
}

  .btn {
      --color: red;
  }

  .scrollbar {
    width: 100px;
    max-width: 200px;
    display: inline-block;
  }

  .scrollbar:hover {
      max-width: 400px;
    overflow-y: scroll;
  }

  .testMargin{
      --displayCustom: attr(data-id);

  }

  .testMargin >:nth-child(3) {
    display: inline;
    width: 100px;
    margin: auto;
}


  .testMargin >:nth-child(1) {
    display: block;
    width: 100px;
    margin: auto;
  }
  .testMargin >:nth-child(2) {
      display: inline-block;
      width: 100px;
      margin: auto;
}


.transitions {
    transition: 1s;
}

:where(.transitions:hover) {
    font-size: 40px;
    transition: 6s;
}

.flex {
    display: flex;
    width: 600px;
}

.flex > * {
    all: initial;
    flex: 1 1 0;
}

.middle {
    padding: 20px;
}

.parentinos {
    color: var(--test, red);
    width: 200px;
}

.height {
    --test: blue;
}

.heightChild {
    height: 200px;
    --test: green;
}

.widthChild {
    display: inline-block;
    width: 100px;
}
