:root {
    --color: red;
    font-size: 62.5%;
}

body {

}

@media all and (max-width: 400px) {
    p{
        background-image: url('./assets/download.jpg');
        font-size: 5px;
    }
}

@media all and (min-width: 400px) {
    .images{
        background-image: url('./assets//the-essential-guide-to-using-images-legally-online-1520x800.png');
        font-size: 5px;
    }
}



.themePlay {
    background-color: var(--color);
    border-radius: 15%/55%;
    border: 5em black solid;
    position: sticky;
    top: 0;
}


.inlineTest * {
    outline: 3px solid green;
    font-size: 50px;
    padding: 20px 0;
    margin: 20px 0;
    border: 3px solid white;
    outline-offset: 10px;
    background-color: red;
    background-clip: padding-box;
    height: 300px;
    width: 300px;
}

/* media="(max-width: 600px)"*/

.flex {
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex * {
    border: 2px solid black;
    height: 20px;
}

.flex:first-child {
    background-color: red;
}

#prvi{
    height: 30px
}

#inlineParent {
    border: blue 2px solid
}

.inlineParent{
    display: inline-block;
    height: 100px;
    text-align: center;
    width: 200px !important;
    border: red 2px solid;
}

.inline {
    display: inline;
}

table tr:first-child {
    font-size: 40px;
}

.parent_margin {
    margin: auto;
    position: relative;
    left: 100px;
    transition: 2s color;
    width: 400px;
}

.parent_margin:hover {
    color: red;
}

.images {
    width: 500px;
    padding: 2rem;
    margin: 1rem;
}

.images > img {
    object-fit: fill;
    object-position: left;
}

.indentation {
    margin: 0px;
}

.indentation > * {
    margin: 20px;
}
.test_position {
    /*text-align: center;*/
}

.test_position  > * {
    position: relative;
    display: inline-block;
    /*left: 200px;*/
    /*width: fit-content;*/
    margin: auto;
}