:root {
    --color: red;
    font-size: 62.5%;
}

body {

}

@media all and (max-width: 400px) {
    p{
        background-image: url('./assets/download.jpg');
        font-size: 5px;
    }
}

.themePlay {
    background-color: var(--color);
    border-radius: 15%/55%;
    border: 5em black solid;
    position: sticky;
    top: 0;
}


.inlineTest * {
    outline: 3px solid green;
    font-size: 50px;
    padding: 20px 0;
    margin: 20px 0;
    border: 3px solid white;
    outline-offset: 10px;
    background-color: red;
    background-clip: padding-box;
    height: 300px;
    width: 300px;
}

/* media="(max-width: 600px)"*/